<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">

<table>
	<tr>
		<td>Title</td>
			<td>Description</td>
			<td>Amount</td>
	</tr>
	<f:for each="{frontend_user.credits}" as="credit">
	<tr>
		<td>{credit.title}</td>
			<td>{credit.description}</td>
			<td>{credit.amount}</td>
	</tr>
	</f:for>
	<tr style="border-top: 1px solid black;" border="1">
		<td></td>
			<td>Balance:</td>
			<td>{frontend_user.balance}</td>
	</tr>
</table>


</f:section>
